
			.zoom img {
				display: block;
			}
			.zoom img::selection { background-color: transparent; }

			.tooltip {
				position: relative;
				display: inline-block;
				border-bottom: 1px dotted black;
			}

			.tooltip .tooltiptext {
				visibility: hidden;
				width: 90px;
		/*		background-color: #555; */
				background-color: lightcoral;
				color: #fff;
				font-size: 70%;
				text-align: center;
				border-radius: 6px;
				padding: 5px 0;
				position: absolute;
				z-index: 1;
				bottom: 125%;
				left: 50%;
				margin-left: -60px;
				opacity: 0;
				transition: opacity 1s;
			}

			.tooltip .tooltiptext::after {
				content: "";
				position: absolute;
				top: 120%;
				left: 50%;
				margin-left: -5px;
		/*		
				border-width: 5px;
				border-style: solid;
				border-color: #555 transparent transparent transparent;
		*/
			}

			.tooltip:hover .tooltiptext {
				visibility: visible;
				opacity: 1;
			}

			.id_list_name, .table_body {
				font-size: 30%;
				color: blue;
				height: 10px;
			}
			.search_panel {
				background-color: green;
			}			
			.random_panel {
				background-color: lightblue;
			}
			.messages_panel {
				background-color: yellow;
			}
			.res_num_panel {
				background-color: SandyBrown;
			}
			.ranking_panel {
				background-color: pink;
			}
			
			select {
				height:10px;
				line-height:9px;
				background:#f4f4f4;
			} 
			
			.drop_downs, option {
				height: 10px;
				font-size: 75%;
			}
			.u_choice {
				height: 10px;
				font-size: 75%;
			}

			#display_panel {
				display: flex; 
				justify-content: left;
				text-align: center;
			}
			#result_id_msg {
				color:red;
				font-size: 70%;
			}
			#database_panel, #query_panel {
				font-size: 75%;
			}
			thead, #q_page_display, #res_display_div, #res_table_label {
				font-size: 75%;
				font-weight: bold;
			}
			
			#messages {
				color: red;
			}
			#database_name {
				font-size: 50%;
				color: blue;
			}
			#prev_book, #prev_page, #next_book, #next_page {
				height:24px;
			}
		