/* required for zoom feature */
.zoom img { display: block; }
.zoom img::selection { background-color: transparent; }

#query_image, #user_image, #result_image {
    max-height: 600px;
}

.emo-nav-btn {
    height: 25px;
    padding: 0 !important;
}
