/* required for zoom feature */
.zoom img { display: block; }
.zoom img::selection { background-color: transparent; }

#query_image, #user_image, #result_image {
    max-height: 600px;
}

#query_code {
	font-size: 10px;
	margin-top: 30px;
}

.emo-nav-btn {
    height: 24px;
    padding: 0px 10px 2px 10px !important;
}

.drop_downs {
  width: 96px;
  font-size: 10px;
  margin: 5px;
}

.drop_downs option {
  width: auto;
  font-size: 10px;
}

.id_list_name {
  font-family: Times, serif;
}

