<!-- Help display html
Ripped off from https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_modal_tab
-->
<div class="w3-container" style="background-color:green; color:white">
	<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green" style="text-align:vertical">Help</button>
	<div id="id01" class="w3-modal">
	 <div class="w3-modal-content w3-card-4 w3-animate-zoom">
	  <header class="w3-container w3-blue"> 
	   <span onclick="document.getElementById('id01').style.display='none'" 
	   class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
	   <h1>Early Music Online Search - Help</h1>
	  </header>
	  <div class="w3-bar w3-border-bottom">
	   <button id="about" class="tablink w3-bar-item w3-button" onclick="openitem(event, 'About')">About Early Music Online Search</button>
	   <button id="queries" class="tablink w3-bar-item w3-button" onclick="openitem(event, 'Queries')">Queries - Search box</button>
	   <button id="random" class="tablink w3-bar-item w3-button" onclick="openitem(event, 'Random')">Random Search</button>
	   <button id="navigation" class="tablink w3-bar-item w3-button" onclick="openitem(event, 'Navigation')">Navigation with arrow keys</button>
	   <button id="feedback" class="tablink w3-bar-item w3-button" onclick="openitem(event, 'Feedback')">Feedback about results</button>
	   <button id="ranking" class="tablink w3-bar-item w3-button" onclick="openitem(event, 'Ranking')">Result ranking</button>
	   <button id="results" class="tablink w3-bar-item w3-button" onclick="openitem(event, 'Results')">Results to display</button>
	   <button id="comp" class="tablink w3-bar-item w3-button" onclick="openitem(event, 'Comparison')">Comparing result with query</button>
	   <button id="uplo" class="tablink w3-bar-item w3-button" onclick="openitem(event, 'Upload')">Uploading an image</button>
	  </div>
	  <div id="About" class="w3-container item">
	   <h2>About Early Music Online Search</h2>
	   <p>Early Music Online (EMO) is a collection of digital images of 16c printed music from the British Library.</p><p> 
		At present (July 2018) EMO comprises about 300 books in total. This interface provides content-based search to about 32,000 pages from just under 200 of these books. They were subjected to optical music recognition using <a href="https://www.verovio.org/">Aruspix</a>, and the musical contents indexed for efficient searching using a <a href="http://doc.gold.ac.uk/~mas01tc/ISMIR2018_draft.pdf" target="_blank">state-of-the-art method</a>.</p><p> 
		This interface simply allows searches for pages containing music similar to that contained in a query page. It does not yet allow searching for an arbitrary musical sequence of notes, though this is planned for a future version. Also, it makes no use of library metadata - information about the books (titles, composers, printers, dates, places, etc.); this, too, will be incorporated in a later version.</p><p>	
	   This experimental system runs on a server at <a href="https://www.gold.ac.uk/computing/research/music-and-art-computing/">Goldsmiths, University of London</a>, and we hope to add much more data from other music libraries in the near future.</p>
	<p>
		Enquiries to <a href="mailto:t.crawford@gold.ac.uk?Subject=EMO%20Search%20Enquiry" target="_top">Tim Crawford</a>
	</p><br>
	  </div>
	  <div id="Queries" class="w3-container item">
	   <h2> Queries - Search box</h2>
	   <p>
		Queries can be entered into the Search box in the form of an ID based on the shelf-mark of a book in the British Library, the image-number from the microfilms which were digitised for EMO, and the left/right page selected. As such, they were never intended for user-entry but they may be entered for test purposes. (To explore the collection, it will be easier to start with a Random Search.)</p>
		<p>
		The currently-searched page's ID will be displayed in the Search box, and the left/right arrow-keys can be used to navigate to and search the previous/next page. You can also skip to the first page of the previous/next book by clicking on the respective double-arrow symbols.
	</p>
		You may need to click on the Go button, as the normal action of the Return or Enter key has been disabled.
	<br>
	  </div>
	  <div id="Random" class="w3-container item">
	   <h2> Random Search</h2>
	   <p>
		This simply chooses a page at random from the entire collection, and performs a search using it as query .
	   </p><br>
	  </div>
	  <div id="Feedback" class="w3-container item">
	   <h2> Feedback - Relation to query</h2>
	   <p>
		You can provide feedback concerning the nature of a result by using the menus in the column 'Relation to query'.</p><p>
		You are not obliged to do this, but all feedback is saved (anonymously) on the server and will be used in future for refining the way the interface operates (e.g. by initially eliminating all non-music pages). This will be enormously useful to us, and it takes very little time. </p><p>
		The first result will always be the query itself, but this may be a page which doesn't contain any music (e.g. a title-page, or just text, or an image) - in which case, choose 'Not music!'. For all other results, do the same if the page does not contain music. Otherwise, choose from the categories 'Duplicate page' (where it is an extra copy of the same page), 'Same music' (from a different book or edition) or 'Related music' (which might be from a different voice-part, or a different section of a work). Use your own judgement about these decisions, as it is hard to establish hard and fast rules for the last case in particular.</p><p>
		If you make a mistake, simply re-do it immediately - all feedback is time-stamped, so we will know if a change has been made within a short time.
	   </p><br>
	  </div>
	  <div id="Ranking" class="w3-container item">
	   <h2> Result ranking</h2>
	   <p>
		Basically, matches are made by finding the pages with the maximum 'overlap' with the query. However, this means that pages containing a lot of notes are more likely to contain such overlaps by accident.</p><p>
		There are two 'modes' for ranking results. The 'Basic' mode takes no account of the number of notes on a page, which can lead to false matches with long pages. The 'Jaccard' mode uses the <a href="http://www.statisticshowto.com/jaccard-index" target="_blank">Jaccard distance</a> measure instead, which tends on the whole to give better results.</p><p>
		When you change this setting by clicking on 'Change' your search will be re-run.
	   </p><br>
	  </div>
	  <div id="Results" class="w3-container item">
	   <h2> Results to display</h2>
	   <p>
		You can choose a number of results to display, or 'Best matches', which simply shows our estimate of the best results to be found. Very occasionally an interesting match can be found below this threshold (e.g. when the music is only fleetingly similar), but it is hard to predict when this might occur.
	   </p><br>
	  </div>
	  <div id="Upload" class="w3-container item">
	   <h2> Uploading an image</h2>
	   <p>
		Not implemented in this version
	   </p><br>
	  </div>
	  <div id="Navigation" class="w3-container item">
	   <h2> Navigation with arrow keys</h2>
	   <p>
		As well as using the left/right arrow keys to search the previous/next page, you can move up and down the results list using the up and down arrow keys. As you do so, the relevant image will be displayed on the right, together with its ID and some information about the match.<br>
		As you move the cursor over the query (left) or match image (right) it will be displayed at high magnification to show detail. To avoid this behaviour simply move the mouse away from the image.
	   </p><br>
	  </div>
	  <div id="Comparison" class="w3-container item">
	   <h2> Comparing result with query</h2>
	   <p>
		Not implemented in this version
	   </p><br>
	  </div>
	  <div class="w3-container w3-light-grey w3-padding">
	   <button class="w3-button w3-right w3-white w3-border" 
	   onclick="document.getElementById('id01').style.display='none'">Close</button>
	  </div>
	 </div>
	</div>
</div>
<!-- End of HTML to display Help-->
